[user]
	name = shusay
  email = shusay.t@gmail.com

[color]
  ui=auto

[core]
  excludesfile=~/.gitignore
  editor=vim

[alias]
  st = status
  l = log
  mst = checkout master
  br = branch
  co = checkout
  cm = commit
